<div>
<h1>Stupid Coaching</h1>
	<div class="answer">
		<p><%= @your_message %></p>
		<p>- You</p>
	</div>
	<div class="answer">
		<p><%= @answer %></p>
		<p>- Your coach</p>
	</div>


	<%= link_to "Ask another question", ask_path %>
</div>	