<div class="answer">
<h1>Ask something to your coach</h1>
<form action="/answer">
  <input type="text" 
        name="question"         
        placeholder="Type something here!">
  <input type="submit" value="Ask!">
</form>
</div>